.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fontutility {
  font-size: 1.5rem;
}
.marginutility {
  margin: 1rem 0;
}
.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  padding: 1rem 3rem;
  border: none;
  color: var(--white);
  background-color: var(--red);
  font-size: 1.5rem;
  border-radius: 3px;
  font-family: inherit;
  cursor: pointer;
}
.footer {
  width: 100%;
  height: 10rem;
  padding: 1rem 3rem;
  border-top: 1px solid var(--white-black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: bold;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 2rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.grid > * {
  margin-right: 1rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .grid > * {
    margin-bottom: 1rem;
  }
}
